.photoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.photoWrapper {
  display: block;
  margin: 0 auto;
  vertical-align: middle;
}

.currentPhoto {
  background-color: white;
  box-sizing: border-box;
  display: block;
  object-fit: cover;
  width: 500px;
  height: 480px;
  position: relative;
  margin-bottom: 10px;
}

.descriptionWrapper {
  text-align: center;
  align-content: center;
  position: relative;
  top: 25%;
}

.currentDescription {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  align-content: center;
}

.numPhotosWrapper {
  display: block;
  position: relative;
  margin: 0 auto;
  top: -660px;
}

.numPhotos {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  align-content: center;
}

.closeBtnContainer {
  display: flex;
  vertical-align: middle;

}

.closeBtn {
  display: inline-block;
  align-items: flex-start;
  border: none;
  border-radius: 8px 8px 8px 8px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  font-stretch: 100%;
  line-height: 18px;
  position: relative;
  text-align: center;
  width: 90px;
  height: 35px;
  top: -680px;
  left: 34px;
}

.closeBtnWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  line-height: 18px;
  text-align: center;
}

.closeBtnX {
  box-sizing: border-box;
  display: block;
  cursor: pointer;
  font-size: 14px;
  font-stretch: 100%;
  line-height: 18px;
  margin-right: 8px;
  height: 12px;
  width: 12px;
  display: block;
  fill: currentcolor;
  position: relative;
  text-align: center;
  top: -2px;
}

.closeBtnText {
  font-family: 'Montserrat', sans-serif;
}

.nextBtnContainer {
  display: flex;
  position: relative;
}

.nextBtn {
  display: flex;
  background-color: white;
  border: 1px solid lightgrey;
  cursor: pointer;
  position: relative;
  align-content: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  top: -350px;
  left: 700px;
  margin: 0 auto;
}

.nextContainer {
  display: flex;
  position: relative;
  justify-content: center;
}

.nextWrapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.nextSvg {
  display: block;
  text-align: center;
  position: relative;
  fill: none;
  height: 12px;
  width: 12px;
  stroke: currentcolor;
  stroke-width: 5.33333;
  overflow: visible;
  top: 17px;
  right: 16px;
}

.prevBtnContainer {
  display: flex;
  position: relative;
}
.prevBtn {
  display: flex;
  background-color: white;
  border: 1px solid lightgrey;
  cursor: pointer;
  position: relative;
  align-content: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  top: -400px;
  right: 700px;
  margin: 0 auto;
}

.prevContainer {
  display: flex;
  position: relative;
  justify-content: center;
}

.prevWrapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.prevSvg {
  display: block;
  text-align: center;
  position: relative;
  fill: none;
  height: 12px;
  width: 12px;
  stroke: currentcolor;
  stroke-width: 5.33333;
  overflow: visible;
  top: 17px;
  right: 16px;
}

.nextBtn:hover, .prevBtn:hover {
  background-color: rgb(245, 245, 245);
}

.shareSaveContainer {
  display: flex;
  flex-direction: row;
  border-spacing: border-box;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  vertical-align: middle;
  position: relative;
  width: 150px;
  top: -840px;
  left: 700px;
  margin: 0 auto;
}

.shareSaveWrapper {
  display: flex;
  border-spacing: border-box;
  position: relative;
}

.shareSaveBox {
  display: flex;
  border-spacing: border-box;
  position: relative;
}

.shareBtn {
  display: flex;
  border: none;
  background-color: white;
  border-radius: 5px;
  border-spacing: border-box;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  z-index: 3;
  width: 4.5rem;
  height: 2rem;
  top: 17px;
}

.shareBtnContainer {
  display: flex;
  cursor: pointer;
  border-spacing: border-box;
  position: relative;
  text-decoration: underline;
}

.shareBtnWrapper {
  display: flex;
  flex-direction: row;
  border-spacing: border-box;
  cursor: pointer;
  position: relative;
}

.shareBtnSvg {
  display: block;
  flex-direction: row;
  cursor: pointer;
  position: relative;
  height: 16px;
  width: 16px;
  fill: currentcolor;
  top: 8px;
  left: 2px;
}

.shareText {
  display: block;
  position: relative;
  text-decoration: underline;
  width: 32px;
  top: 9px;
  left: 5px;
}

.saveBtn {
  display: inline-block;
  background-color: white;
  border: none;
  align-items: flex-start;
  cursor: pointer;
  border-spacing: border-box;
  position: relative;
  z-index: 10;
  width: 5rem;
  height: 2rem;
  top: 18px;
  left: 20px;
}

.saveBtnContainer {
  display: flex;
  border-spacing: border-box;
  position: relative;
  text-decoration: underline;
}

.saveBtnWrapper {
  display: flex;
  border-spacing: border-box;
  position: relative;
}

.saveBtnSvg {
  display: block;
  position: relative;
  fill: none;
  height: 16px;
  width: 16px;
  stroke: currentcolor;
  stroke-width: 2;
  overflow: visible;
  top: 8.5px;
  left: 5px;
}

.saveBtnSvg:hover {
  fill: #FF385C;
}

.saveText{
  display: block;
  position: relative;
  text-decoration: underline;
  width: 32px;
  top: -8px;
  left: 24px;
}

.shareBtn:hover, .saveBtn:hover {
  background-color: rgb(249, 249, 249);
}