.headerContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.headerWrapper {
  display: block;
  box-sizing: border-box;
  text-align: left;
  position: relative;
  width: 1110px;
  margin: 0 auto;
  /* top: 100px; */
}

.titleWrapper {
  display: block;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  top: 120px;
}

.title {
  font-family: 'Montserrat', sans-serif;
  display: block;
  position: relative;
  text-align: left;
}

.starWrapper {
  display: block;
  border-spacing: border-box;
  position: relative;
  top: 110px;
}

.star{
  fill: #FF385C;
}

.avgWrapper {
  display: block;
  border-spacing: border-box;
  position: relative;
  top: 91px;
  left: 22px;
}

.avg {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.reviewsWrapper {
  display: block;
  border-spacing: border-box;
  position: relative;
  top: 73px;
  left: 53px;
}

.reviews {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #717171;
}

.dotWrapper {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  position: relative;
  top: 54px;
  left: 108px;
}

.dot {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #717171;
}

.locationWrapper {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  position: relative;
  top: 37px;
  left: 135px;
}

.location {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #717171;
}

.shareSaveContainer {
  display: flex;
  flex-direction: row;
  border-spacing: border-box;
  vertical-align: bottom;
  position: relative;
  top: -10px;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.shareSaveWrapper {
  display: block;
  border-spacing: border-box;
  position: relative;
}

.shareSaveBox {
  display: block;
  border-spacing: border-box;
  position: relative;
}

.shareBtn {
  display: block;
  border: none;
  background-color: white;
  border-radius: 5px;
  border-spacing: border-box;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  z-index: 100;
  width: 4.5rem;
  height: 2rem;
  left: 980px;
  top: 25px;
}

.shareBtnContainer {
  display: flex;
  cursor: pointer;
  border-spacing: border-box;
  position: relative;
  text-decoration: underline;
}

.shareBtnWrapper {
  display: flex;
  flex-direction: row;
  border-spacing: border-box;
  cursor: pointer;
  position: relative;
}

.shareBtnSvg {
  display: block;
  flex-direction: row;
  cursor: pointer;
  position: relative;
  height: 16px;
  width: 16px;
  fill: currentcolor;
  top: 6px;
  left: 2px;
}

.shareText {
  display: block;
  position: relative;
  text-decoration: underline;
  width: 32px;
  top: -9px;
  left: 20px;
}

.saveBtn {
  display: inline-block;
  background-color: white;
  border: none;
  align-items: flex-start;
  cursor: pointer;
  border-spacing: border-box;
  justify-content: center;
  position: relative;
  padding: 0px;
  z-index: 10;
  width: 5rem;
  height: 2rem;
  top: -10px;
  left: 1055px;
}

.saveBtnContainer {
  display: block;
  border-spacing: border-box;
  position: relative;
  text-decoration: underline;
}

.saveBtnWrapper {
  display: block;
  border-spacing: border-box;
  position: relative;
}

.saveBtnSvg {
  display: block;
  position: relative;
  fill: none;
  height: 16px;
  width: 16px;
  stroke: currentcolor;
  stroke-width: 2;
  overflow: visible;
  top: 10px;
  left: 12px;
}

.saveBtnSvg:hover {
  fill: #FF385C;
}

.saveText{
  display: block;
  position: relative;
  text-decoration: underline;
  width: 32px;
  top: -5px;
  left: 32px;
}

.shareBtn:hover, .saveBtn:hover {
  background-color: rgb(249, 249, 249);
}