.headerContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.headerWrapper {
  display: block;
  box-sizing: border-box;
  text-align: left;
  position: relative;
  width: 1110px;
  margin: 0 auto;
  top: 215px;
}

.titleWrapper {
  display: block;
  position: relative;
  box-sizing: border-box;
  text-align: left;
}

.title {
  font-family: 'Montserrat', sans-serif;
  display: block;
  position: relative;
  text-align: left;
}

.starWrapper {
  display: block;
  border-spacing: border-box;
  position: relative;
  top: -15px;
}

.star{
  fill: #FF385C;
}

.avgWrapper {
  display: block;
  border-spacing: border-box;
  position: relative;
  top: -35px;
  left: 22px;
}

.avg {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.reviewsWrapper {
  display: block;
  border-spacing: border-box;
  position: relative;
  top: -53px;
  left: 53px;
}

.reviews {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #717171;
}

.dotWrapper {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  position: relative;
  top: -71px;
  left: 105px;
}

.dot {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #717171;
}

.locationWrapper {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  position: relative;
  top: -89px;
  left: 135px;
}

.location {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #717171;
}

.shareListing {
  display: flex;
  position: relative;
  cursor: pointer;
  z-index: -1
}

.shareIconWrapper {
  display: block;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  position: relative;
  top: -104px;
  left: 975px;
  z-index: -1;
}

.shareIcon {
  display: block;
  cursor: pointer;
  height: 16px;
  width: 16px;
  fill: currentcolor;
  position: absolute;
  z-index: -1
}

.shareListing {
  display: block;
  cursor: pointer;
  position: relative;
  left: 20px;
}

.saveIconWrapper {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  position: relative;
  top: -125px;
  left: 1070px;
}

.saveIcon {
  display: block;
  fill: none;
  height: 16px;
  width: 16px;
  stroke: currentcolor;
  stroke-width: 2;
  overflow: visible;
  position: absolute;
}

.saveListing {
  display: block;
  position: relative;
  left: 20px;
}
