.homeGridWrapper {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 20px;
  margin: 0px auto;
  position: absolute;
  width: 100%;
  /* height: 100%; */
}

.homeGrid {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  line-height: 20px;
  margin: 0px auto;
  position: absolute;
  top: 100px;
}

.photo1Container {
  flex: 2;
  max-height: 560px;
  max-width: 560px;
  padding: 0px 5px 0px 0px;
}

.photo1 {
  border-radius: 10px 0px 0px 10px;
  cursor: pointer;
  display: block;
  height: 560px;
  width: 560px;
  padding: 0px 5px 0px 0px;
}

.photo23, .photo45 {
  flex: 1;
  width: 100%;
  height: 100%;
}

.photo2Container, .photo3Container, .photo4Container, .photo5Container {
  flex: 1;
}

.photo2 {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  object-fit: cover;
  width: 280px;
  height: 280px;
  padding: 0px 5px 5px 5px;
  position: relative;
}

.photo3 {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  object-fit: cover;
  width: 280px;
  height: 280px;
  padding: 5px 5px 0px 5px;
  position: relative;
}

.photo4 {
  border-radius: 0px 10px 0px 0px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  object-fit: cover;
  width: 280px;
  height: 280px;
  padding: 0px 0px 5px 5px;
  position: relative;

}

.photo5 {
  border-radius: 0px 0px 10px 0px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  object-fit: cover;
  width: 280px;
  height: 280px;
  padding: 5px 0px 0px 5px;
  position: relative;

}

.showAll {
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  background-attachment: scroll;
  background-clip: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  position: absolute;
  text-align: center;
  text-size-adjust: 100%;
  width: auto;
  top: 90%;
  right: 2%;
}